// Code highlighting

pre {
  @include left-line();
  font-family: 'Fira Mono';
  font-size: 14px;
  line-height: 1.9;
  overflow-x: auto;
  box-shadow: none;
}

code {
  color: $code-foreground;
  font-family: 'Fira Mono';
  font-size: 15px;
  padding: 0 5px;
}
