// Code highlighting

pre.src, pre.example {
  @include left-line();
  font-family: $code-font;
  font-size: 14px;
  line-height: 1.9;
  overflow-x: auto;
  box-shadow: none;
}

code {
  font-family: $code-font;
  font-size: 15px;
  padding: 0 5px;
}
