// Common mixins and variables
@charset "UTF-8";

// Shades
$c1: #000;
$c2: #222;
$c3: #444;
$c4: #7b7b7b;
$c5: #c8c8c8;
$c6: #efefef;
$c7: #fff;

$accent: #002642;
$accent-dark: #00151c;

$code-foreground: #2c3e50;
$code-background: $c6;

$back-white: $c7;
$back-light: $c6;
$back-medium: $c5;

$text-light: $c4;
$text-gray: $c3;
$text-medium: $c2;
$text-dark: $c1;

// Fonts
@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('../fonts/BebasNeue Bold.otf');
}

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal
}

@mixin text-underline-crop($background) {
  text-shadow: .03em 0 $background,
  -.03em 0 $background,
  0 .03em $background,
  0 -.03em $background,
  .06em 0 $background,
  -.06em 0 $background,
  .09em 0 $background,
  -.09em 0 $background,
  .12em 0 $background,
  -.12em 0 $background,
  .15em 0 $background,
  -.15em 0 $background;
}

@mixin text-background($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);
    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);
    background: $selection;
  }
}

@mixin link-underline($background, $text) {
  @include text-underline-crop($background);
  @include text-background($background, $text);
  @include text-selection($back-medium);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

@function twice($v1) {
  @return $v1 + $v1;
}

@mixin button($radius, $font-size, $padding) {
  padding: $padding twice($padding);
  border-style: solid;
  border-width: 1px;
  border-color: $back-light;
  border-radius: $radius;
  font-family: 'Open Sans';
  font-variant: all-small-caps;
  font-size: $font-size;
  font-style: normal;
  letter-spacing: 2px;
  background-image: none;
  &:hover {
    background-color: $back-light;
    background-image: none;
  }
}

@mixin tag() {
  @include button(2px, 13px, 4px);
  line-height: 8px;
  white-space: nowrap;
}

@mixin light-para($font-size) {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: $font-size;
  line-height: 1.6;
  color: $text-gray;
}

@mixin light-meta() {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 1.9;
  color: $text-light;
  text-transform: uppercase;
}

@mixin left-line() {
  border-width: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: $back-medium;
  margin: 20px 0;
  padding: 0;
  padding-left: 15px;
}

// Selection colors:
*::selection {
  background: $back-medium;
}

*::-moz-selection {
  background: $back-medium;
}

// Loading bar
.pace .pace-progress {
  background-color: $accent !important;
}

// Lists
ul, ol {
  list-style-position: outside;
  padding: 0;
}

ul ul, ol ol {
  padding-left: 20px;
}

ul ul ul, ol ol ol {
  padding-left: 40px;
}

// Image zooms
img.zoomTarget:hover {
  cursor: default !important;
}

hr {
  border: none;
  border-top-style: solid;
  border-top-width: 1px;
  color: $back-light;
  margin-bottom: 50px;
  margin-top: 50px;
}

// Hide some divs
#table-of-contents,
#org-div-home-and-up,
pre.src:hover::before {
  display: none !important;
}

// Layout
#content, header, .page-header {
  margin: 40px;
}

header {
  .site-title {
    text-align: center;
  }
  .site-nav {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  #content, header, .page-header {
    margin-left: 164px;
    max-width: 720px;
  }

  header {
    .site-title {
      text-align: left;
    }
    .site-nav {
      float: right;
    }
  }
}

// Dropcap
.dropcap {
  float: left;
  font-size: 55px;
  line-height: .1;
  margin-right: .3rem;
  margin-top: 30px;
  padding: 0;
}

footer {
  height: 10px;
  background: $accent-dark;
}

body {
  font-size: 16px;
  font-family: 'Merriweather';
}

// Main blog styling
.page-header {
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: none;
  }
  .page-meta {
    @include light-meta();
  }
}

#content {
  .page-intro {
    @include light-para(15px);
    margin-bottom: 40px;
  }
  p, li {
    line-height: 1.9;
  }
}

.timestamp, .timestamp-kwd {
  @include light-meta();
}

.todo, .done {
  @include tag();
  font-weight: bold;
}

.todo {
  color: #dc752f;
}

.done {
  color: #548b54;
}

.tag {
  background: white;
}

.tag > span {
  @include tag();
}

figure {
  img {
    max-width: 100%;
  }
  figcaption {
    .figure-number {
      @include light-meta();
    }
    margin-top: 10px;
    @include light-para(15px);
  }
}
