// Link and buttons

figcaption a,
p a,
li a {
  @include link-underline($back-white, $text-dark);
  color: $text-dark;
  border-radius: 2px;

  &:hover {
    @include link-underline($back-light, $text-dark);
    background-color: $back-light;
  }
}

.btn {
  @include button(4px, 14px, 7px);
}

.btn.disabled {
  color: $text-light;
}

.image-link, .image-link:hover {
  text-decoration: none;
  background: none;
  text-shadow: none;
}
