// Link and buttons

#breadcrumbs a,
figcaption a,
p a,
li a {
  @include link-underline($back-white, $text-dark);

  &:hover {
    @include link-underline($back-light, $text-dark);
  }
}

.btn {
  @include button(4px, 14px, 7px);
}

.btn.disabled {
  color: $text-light;
}

.image-link, .image-link:hover {
  text-decoration: none;
  background: none;
  text-shadow: none;
}
