@import 'basscss';
@import 'pixyll';
@import 'commons';
@import 'code';
@import 'headings';
@import 'nav';
@import 'aside';
@import 'table';
@import 'figure';
@import 'links';
@import 'hr';
@import 'edits';
@import 'blockquote';

// Main column positioning
@media (min-width: 1000px) {
  #content {
    margin-left: 100px;
    max-width: 720px;
  }
}

p,
li {
  font-size: 16px;
}

// Main blog styling
.post {
  .post-header {
    h1 {
      font-size: 40px;
      font-style: normal;
      font-variant: none;
      margin-bottom: 10px;
      margin-top: 10px;
      text-transform: none;
    }
    .post-tags {
      margin-bottom: 10px;
      a {
        @include tag;
      }
    }
    .post-meta {
      @include light-meta();
    }
  }

  .post-content {
    .post-intro {
      @include light-para(15px);
      margin-bottom: 40px;
    }
    p {
      line-height: 1.9;
    }
  }

}

// Archive and other listings (index, tag pages)
.archive-container {
  margin-top: 50px;

  .archive-listing {
    padding: 0;
    list-style: none;
  }
}

.archive-tag-cloud a {
  @include tag;
}

.archive-list-item {
  margin: 40px 0;

  .archive-date {
    @include light-meta();
  }

  .archive-title {
    font-size: 25px;
    line-height: 1.6;
  }

  .archive-tags {
    margin-top: 5px;
    a {
      @include tag;
    }
  }

  .archive-summary {
    margin-top: 10px;
    @include light-para(15px);

    // Override for intro from posts
    .post-intro {
      @include light-para(15px);
    }
  }
}

// Dropcap
.dropcap {
  float: left;
  font-size: 55px;
  line-height: .1;
  margin-right: .3rem;
  margin-top: 30px;
  padding: 0;
}

// Footer line
.footer {
  background: $accent-dark;
}
