---
layout: default
permalink: /404.html
---

h1 404

p
  a.image-link(href="https://xkcd.com/1024")
    img(src="https://imgs.xkcd.com/comics/error_code.png")

a.btn(href="{{ site.baseurl }}/") Take me home
