---
layout: about
permalink: /about/
---

canvas#canvas

#content
  #details
    #name Abhinav Tushar
    #links
      a(href="/pile") prose
      a(href="{{ site.github }}") programs
      a(href="{{ site.email }}") prattle
