---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
      <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
      <div class="post-tags">
        {{ post | tags | remove: "," }}
      </div>
      {% if post.summary %}
        <p class="post-summary">
          {{ post.summary }}
        </p>
      {% elsif post.excerpt %}
        {{ post.excerpt }}
      {% endif %}
    </div>
    {% endfor %}
  </div>

  {% include pagination.pug %}
</div>
