<div id="contact-form">
    <div>
        <h4>Have something to say ?</h4>
    </div>
    <hr>
    <a class="button button-blue button-small" href="mailto:abhinav.tushar.vs@gmail.com"><span class="fa fa-envelope"></span> | mail</a>
    <a class="button button-hollow button-small" href="https://github.com/lepisma"><span class="fa fa-github"></span> | github</a>
    <a class="button button-hollow button-small" href="https://twitter.com/AbhinavTushar"><span class="fa fa-twitter"></span> | twitter</a>
    <a class="button button-hollow button-small" href="https://fb.com/abhinav.tushar.9"><span class="fa fa-facebook"></span> | facebook</a>
</div>
<div id="contact-controls">
        <a id="rss-btn" class="contact-btns" href="{{ site.baseurl }}/feed.xml">
            <span class="fa fa-rss"></span>
        </a>
    <div id="contact-btn" class="contact-btns">
        contact
    </div>
</div>
<div id="contact-overlay">
</div>
