<div id="contact-form">
  <h4>Have something to say ?</h4>
  <a class="button button-blue button-small" href="mailto:{{ site.email }}">
    <span class="fa fa-envelope"></span> | email
  </a>
  <a class="button button-hollow button-small" href="{{ site.links.twitter }}">
    <span class="fa fa-twitter"></span> | twitter
  </a>
</div>
<div id="contact-controls">
  <a id="rss-btn" class="contact-btns" href="{{ site.baseurl }}/feed.xml">
    <span class="fa fa-rss"></span>
  </a>
  <div id="contact-btn" class="contact-btns">
    contact
  </div>
</div>
<div id="contact-overlay">
</div>
