#main-head-block
#main-head
  #avatar
    img(src="{{ site.baseurl }}/assets/images/avatar256.png")
  #name
    #name-first abhinav
    #name-last tushar
  #links
    a(href="{{ site.links.github }}" target="_blank") github
    br
    a(href="/") blog
    br
    a(href="{{ site.email }}") email
    br
    a#links-btn(href="#contact") more
