<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.summary %}{{ page.summary | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
  <meta name="author" content="{{ site.author }}">
  {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pace.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lightbox.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.min.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/blog.css" type="text/css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png" type="image/png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/pace.min.js"></script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script src="{{ site.baseurl }}/assets/js/lightbox.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.lettering-0.6.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.textillate.js"></script>
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title | xml_escape }}">

  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">

  <meta itemprop="name" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
</head>
