header.site-header.px2.px-responsive
  .mt2.wrap
    .measure
      span.site-title
        a(href="{{ site.baseurl }}/")
          img(src="{{ site.baseurl }}/assets/images/avatar32.png")
      nav.site-nav.right
        | {% include navigation.pug %}
      .clearfix
