meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="{% if page.summary %}{{ page.summary | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}")
meta(name="author" content="{{ site.author }}")
| {% if page.categories %}
meta(name="keywords" content="{{ page.categories | join: ', ' }}")
| {% endif %}

link(rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}")

meta(property="og:locale" content="en_US")
meta(property="og:type" content="article")
meta(property="og:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}")
meta(property="og:description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}")
meta(property="og:url" content="{{ site.url }}{{ page.url }}")
meta(property="og:site_name" content="{{ site.title | xml_escape }}")

meta(name="twitter:url" content="{{ site.url }}{{ page.url }}")
meta(name="twitter:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}")
meta(name="twitter:description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}")

meta(itemprop="name" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}")
meta(itemprop="description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}")
