<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="btn" href="{{ site.baseurl }}/"><i class="fa fa-angle-left" aria-hidden="true"></i> Newer</a>
      {% else %}
        <a class="btn" href="{{ site.baseurl }}/page{{paginator.previous_page}}/"><i class="fa fa-angle-left" aria-hidden="true"></i> Newer</a>
      {% endif %}
    {% else %}
      <span class="btn disabled"><i class="fa fa-angle-left" aria-hidden="true"></i> Newer</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="btn" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    {% else %}
      <span class="btn disabled">Older <i class="fa fa-angle-right" aria-hidden="true"></i></span>
    {% endif %}
  </div>
</div>
