// About me page style

@import 'commons';

#canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#content {
  margin: 32px;

  #details {
    display: flex;
    flex-direction: column;

    #name {
      font-style: italic;
      font-family: 'et-book';
      font-size: 30px;
      line-height: 1.2em;
    }

    #links {
      a {
        font-family: 'Bebas Neue Bold';
        text-decoration: none;
        color: $text-light;
        font-size: 14px;
        letter-spacing: 1px;
        margin-right: 8px;

        &:hover {
          color: $text-medium;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  #content {
    margin-left: 164px;
    margin-top: 120px;
  }
}
