// About me page style

@import 'commons';

// Loading bar
.pace .pace-progress {
  background-color: $accent !important;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    color: $text-light;
  }
}

// HEADER -----------------------
#main-head-block {
  background-color: $accent;
  height: 5px;
  width: 100%;
}

#main-head {
  color: $text-light;
  font-family: 'Bebas Neue Bold';
  margin-top: 15px;

  #name {
    float: left;
    font-size: 40px;
    line-height: 1.2em;
  }

  #links {
    float: right;
    font-size: 16px;
    letter-spacing: 8px;
    line-height: 1.3em;
    margin-top: 5px;
    text-align: right;
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

// MAIN -----------------------
#main-content {
  margin-top: 90px;

  .section {
    margin-bottom: 40px;

    .section-media {
      padding-top: 50px;
      img {
        width: 100%;
      }

      @media (max-width: 550px) {
        img {
          display: none;
        }
      }
    }

    .section-title {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .section-text {

      img {
        width: 100%;
      }

      font-family: 'Open Sans';
      color: $text-medium;
      font-size: 18px;

      a {
        @include link-underline($back-white, $text-medium, $accent);

        &:hover {
          background-color: $back-light;
        }
      }
    }
  }
}

footer {
  background-color: $back-light;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  border-color: $back-medium;
  height: 30px;
}
