// Custom things

@import 'commons';

// link style
p a,
li a {
  @include link-underline($back-white, $text-dark);
  color: $text-dark;

  &:hover {
    @include link-underline($back-light, $text-dark);
    background-color: $back-light;
  }
}

// Main column positioning
@media (min-width: 1000px) {
  .wrap .measure {
    margin-left: 5em;
    max-width: 45rem;
  }
}

// Loading bar
.pace .pace-progress {
  background-color: $accent !important;
}

// Nav according to about me
.site-title {
  font-size: 16px;
}

.site-header nav a {
  color: $text-light;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    border: 0;
    color: $accent;
  }
}

// Override sizes
h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p,
li {
  font-size: 16px;
}

// Fonts
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora';
  font-style: italic;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 60px;
}

header,
.post-title {
  font-family: 'Merriweather';
  font-weight: normal;
}

.post-link .post-title {
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
}

.post-summary {
  color: $text-light;
  font-size: 16px;
  font-style: italic;
}

.posts .post {
  margin-bottom: .75em;
  padding-bottom: 1.33em;
}

.pagination a,
.pagination .disabled {
  padding: .5em 1.5em;
}

// Better blockquote
blockquote {
  border-left: 0;
  padding: 0;
  quotes: '\201C''\201D''\2018''\2019';

  &::before {
    color: $accent;
    content: open-quote;
    font-size: 2em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }

  p {
    display: inline;
    font-size: 18px;
  }
}

hr {
  background-image: -webkit-linear-gradient(left, $back-light, $text-light, $back-light);
  background-image: -moz-linear-gradient(left, $back-light, $text-light, $back-light);
  background-image: -ms-linear-gradient(left, $back-light, $text-light, $back-light);
  background-image: -o-linear-gradient(left, $back-light, $text-light, $back-light);
  border: 0;
  height: 1px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 80%;
}

// Dropcap
.dropcap {
  float: left;
  font-size: 55px;
  line-height: .1;
  margin-right: .3rem;
  margin-top: 30px;
  padding: 0;
}

// Code highlighting
.highlight {
  border-radius: 5px;
  font-family: 'Source Code Pro';
  font-size: 14px;
  line-height: 22px;
  overflow-x: auto;

  // Fix for parens
  .p {
    font-size: 14px;
  }

  code {
    padding: 0;
  }
}

code {
  background: $code-background;
  border-radius: 5px;
  color: $code-foreground;
  font-family: 'Source Code Pro';
  padding: 0 5px;
}

// Pagination buttons
.pagination {
  font-size: 12px;

  a,
  .disabled {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
  }

  a {
    border-color: $accent;
    color: $accent;
    padding: 10px 20px;

    &:hover {
      background: $accent;
      color: $back-white;
    }
  }
}

// Figure related stuff
figure {
  text-align: center;

  figcaption {
    color: $text-light;
    font-size: 15px;
    padding-top: 30px;
    text-align: center;
  }
}

// Mathjax
.MathJax_Display {
  font-size: 16px;
}

// Table
table {
  border-color: $text-light;
  border-left: transparent;
  border-right: transparent;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

  thead tr th {
    border-bottom: 0;
  }

  tbody tr td {
    border-top: 0;
  }
}

// Aside
aside {
  background-color: $code-background;
  border-radius: 5px;
  font-size: 14px;
  margin: 20px 0;
  padding: 20px;

  &::before {
    content: 'aside';
    font-family: 'Merriweather';
    font-style: normal;
    font-variant: small-caps;
    letter-spacing: 3px;
  }

  .aside-title {
    font-family: 'Lora';
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
  }
}

// Footer
.footer {
  background: $accent-dark;
}

// Blog archive
.archive-container {
  margin-top: 80px;
}

.archive-listing {
  margin: 40px 0;

  .archive-date {
    color: $text-light;
    font-variant: small-caps;
  }

  .archive-title {
    font-size: 25px;
  }
}
