@import './blog/basscss';
@import './blog/pixyll';
@import 'commons';
@import 'code';
@import './blog/headings';
@import './blog/nav';
@import './blog/aside';
@import './blog/table';
@import './blog/figure';
@import './blog/links';
@import './blog/hr';

// Main column positioning
@media (min-width: 1000px) {
  .wrap .measure {
    margin-left: 100px;
    max-width: 720px;
  }
}

p,
li {
  font-size: 16px;
}

article .post-intro {
  font-family: 'et-book';
  font-size: 20px;
  margin-bottom: 40px;
}

// Better blockquote
blockquote {
  border-width: 4px;
  border-color: $back-light;
  padding-top: 5px;
  padding-bottom: 5px;

  p {
    display: inline;
    font-size: 18px;
  }
}

// Dropcap
.dropcap {
  float: left;
  font-size: 55px;
  line-height: .1;
  margin-right: .3rem;
  margin-top: 30px;
  padding: 0;
}

// Blog archive and other listings
header,
.post-title {
  font-family: 'Merriweather';
  font-weight: normal;
}

.post-link .post-title {
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
}

.post-header {
  h1 {
    margin-bottom: 10px;
  }

  .post-tags {
    margin-bottom: 10px;
  }
}

.post-summary, .post-intro {
  color: $text-medium;
  font-size: 16px;
  font-style: italic;
  margin-top: 10px;
}

.posts .post {
  margin-bottom: .75em;
  padding-bottom: 1.33em;

  .post-date {
    color: $text-light;
    font-variant: small-caps;
    font-size: 16px;
  }
}

.archive-container {
  margin-top: 50px;
}

.archive-listing {
  list-style: none;
}

.archive-list-item {
  margin: 40px 0;

  .archive-date {
    color: $text-light;
    font-variant: small-caps;
  }

  .archive-title {
    font-size: 25px;
    line-height: 1.2em;
  }

  .post-tags {
    margin-top: 5px;
  }
}

.post-tags a,
#tag-cloud a {
  @include tag;
}

// Footer
.footer {
  background: $accent-dark;
}
