// About me page style

// Pallete;
$back: white;
$textlight: #7B7B7B;
$textdark: black;
$accent: #9b59b6;
$accent-dark: purple;


// Code starts here
::selection {
  background: $accent; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: $accent; /* Gecko Browsers */
  color: white;
}

// Loading bar
.pace .pace-progress {
    background: $accent !important;
}

body {
  background: #424242;
  font-family: Merriweather;
}

#notice {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);

  color: white;
  font-family: "Open Sans Light";
}

// Blinking cursor

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
