@charset "UTF-8";

// Custom things

// Pallete;
$back: white;
$textlight: #7B7B7B;
$textdark: black;
$accent: #002642;
$accent-dark: #00151C;

// Selection colors:
::selection {
  background: $accent;
  color: white;
}

::moz-selection {
  background: $accent;
  color: white;
}

// link style
p a, li a {
  color: $textdark;
  text-decoration: underline;

  &:hover {
    color: $textdark;
  }
}

// Justify text
p {
    text-align: justify;
}

// Loading bar
.pace .pace-progress {
    background: $accent !important;
}

// Nav according to about me
.site-title {
  font-size: 16px;
}

.site-header nav a {
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  color: $textlight;
  font-size: 12px;
  text-transform: uppercase;

  &:hover {
    color: $accent;
    border: none;
  }
}

// Override sizes
h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p, li {
  font-size: 14px;
}

// Fonts
header, h1, h2, h3, h4, h5, h6, .post-title {
  font-family: "Merriweather";
  font-weight: normal;
}

.post-link .post-title {
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
}

.post-summary {
  color: $textlight;
  font-style: italic;
  font-size: 20px;
}

// Better blockquote
blockquote {
  padding: 0px;
  quotes: "\201C""\201D""\2018""\2019";
  border-left: none;

  &::before{
    color: $accent;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
    font-size: 22px;
  }
}

// HR width and gap
hr {
  width: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
}

// Dropcap
.dropcap {
  font-size: 80px;
  float: left;
  padding: 0px;
  line-height: 0px;
  margin-top: 45px;
  margin-right: .45rem;
  height: 38px;
}

// Code highlighting
.highlight {
  background-color: $back;
  font-size: 14px;
  overflow-x: auto;
}

// Pagination buttons
.pagination {
  a, .disabled {
    border-radius: 6px;
    border-style: dashed;
    border-width: 1px;
  }

  a {
    color: $accent;
    border-color: $accent;
  }
}

.pagination a:hover {
  background: $accent;
  color: white;
}

// Figure related stuff

figure {
  text-align: center;

  figcaption {
    text-align: center;
    padding-top: 30px;
    color: $textlight;
    font-size: 15px;
  }
}

// Table
table {

  font-size: 15px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-right: transparent;
  border-left: transparent;
  border-color: $textlight;

  thead {
    tr th {
      border-bottom: 0pt;
    }
  }

  tbody tr td {
    border-top: 0pt;
  }
}

// Footer
.footer {
  background: $accent-dark;
}

// Contact form

#contact-overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: black;
  opacity: 0.5;
  z-index: 50;
  cursor: url(../assets/images/close_2.png), default;
}

#contact-form {
  display: none;
  z-index: 100;
  position: fixed;
  top: 50%;
  padding: 50px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px;
  background: white;
  transform: translateY(-50%);
}

#contact-controls {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 100px;
  transform: translateY(-50%) rotate(-90deg);
  display: inline-flex;
  transform-origin: 0px 100px;

  .contact-btns {
    a {
      color: white;
    }

    background-color: $accent;
    color: white;
    padding: 5px;
    padding-right: 16px;
    padding-left: 16px;
    font-family: serif;
    font-style: italic;
    font-size: 21px;
    cursor: pointer;

    &:hover {
      background-color: $accent-dark !important;
      color: white !important;
      border-color: $accent-dark !important;
    }
  }

  #rss-btn {
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-color: $accent;
    border-width: 1px;
  }

  #contact-btn {
    background: white;
    color: $accent;
    border-color: $accent;
    border-style: solid;
    border-width: 1px;
    border-bottom-right-radius: 5px;
  }
}
