// Headings for the post and index pages

// Default face and margins
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'et-book';
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 60px;
}

// Override sizes
h1 {
  font-size: 36px;
  font-style: italic;
}

h2 {
  font-size: 28px;
  font-variant: all-small-caps;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}
