<!DOCTYPE html>
<html>
  <head>
    {% include meta-tags.html %}
    <title>about | abhinav tushar</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pace.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skeleton.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/about.css" type="text/css">

    {% include favicons.html %}

    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/pace.min.js"></script>
  </head>
  <body>
    <div class="site-wrap">
      {{ content }}
    </div>

    {% include footer-about.html %}
  </body>
</html>
