<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>about | abhinav tushar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="About me, Abhinav Tushar">
    <meta name="author" content="Abhinav Tushar">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/skeleton.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/about.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/assets/css/pace.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/assets/css/animate.min.css" | prepend: site.baseurl }}" type="text/css">

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/pace.min.js"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.lettering-0.6.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.textillate.js"></script>
    <script src="{{ site.baseurl }}/assets/js/about.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{{ site.baseurl }}/assets/js/map.js"></script>
  </head>
<body>
  <div class="site-wrap">
    {{ content }}
  </div>
</body>
</html>
