<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>about | abhinav tushar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="About me, {{ site.author }}">
    <meta name="author" content="{{ site.author }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pace.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skeleton.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/about.css" type="text/css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/pace.min.js"></script>
  </head>
  <body>
    <div class="site-wrap">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <div class="foot-note">
          <a href="http://spacemacs.org"><img src="https://cdn.rawgit.com/syl20bnr/spacemacs/442d025779da2f62fc86c2082703697714db6514/assets/spacemacs-badge.svg" /></a>
          <div>Updated {{ site.time }}</div>
        </div>
        <hr>
        <div class="badges">
          <a href="http://www.kopimi.com/" title="kopimi (copyme)"><img src="{{ site.baseurl }}/assets/images/kopimi.png" alt="Kopimi" /></a>
          <a href="http://www.fsf.org/fb" title="Not f'd — you won't find me on Facebook"><img src="{{ site.baseurl }}/assets/images/dislike.png" alt="Not f'd — you won't find me on Facebook" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
