<!DOCTYPE html>
html
  head
    | {% include meta-tags.pug %}
    title about | abhinav tushar

    link(rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css" type="text/css")
    link(rel="stylesheet" href="{{ site.baseurl }}/css/about.css" type="text/css")
    script(src="{{ site.baseurl }}/scripts/sand.js")

    | {% include favicons.pug %}
  body
    .site-wrap
      | {{ content }}
