---
layout: default
---

.home
  .archive-container
    p
      | Hello! I am keeping most of my texts in an org based wiki (sort of) at
      | <a href="/pile">/pile</a> these days. Occasionally, I might update the
      | blog here too, but I am liking the wiki style workflow much better.
      | I also wrote about this switch in a post <a href="/2018/01/27/blog-to-wiki/">here</a>.
    hr
    ul.archive-listing
      | {% for post in paginator.posts %}
      li.archive-list-item
        .archive-date
          | {{ post.date | date: "%b %-d, %Y" }}
        a.archive-link(href="{{ post.url | prepend: site.baseurl }}")
          .archive-title
            | {{ post.title }}
        .archive-tags
          | {{ post | tags | remove: "," }}
        .archive-summary
          | {% if post.summary %}
          | {{ post.summary }}
          | {% elsif post.excerpt %}
          | {{ post.excerpt }}
          | {% endif %}
      | {% endfor %}

  | {% include pagination.pug %}
