---
layout: default
---

| {% assign minutes = content | number_of_words | divided_by: 180 %}
| {% if minutes == 0 %}
| {% assign minutes = 1 %}
| {% endif %}

.post-header.mb2
  .post-meta.small
    | {{ page.date | date: "%b %-d, %Y" }}
  .post-meta.small
    | {{ minutes }} minute read
  h1
    | {{ page.title | widont }}
  .post-tags
    | {{ page | tags | remove: "," }}

article.post-content
  | {{ content }}
