---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span><br>
  {% endif %}
  <span class="post-meta small">{{ minutes }} minute read</span>
</div>

<article class="post-content">
  {{ content }}
</article>

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
