---
layout: default
---

.home
  a.btn(href="/archive")
    i.archive-back.fa.fa-angle-double-left(aria-hidden="true")
    span
      | {{ page.tag }}

  .archive-container
    ul.archive-listing
      | {% for post in page.posts %}
      li.archive-list-item
        .archive-date
          | {{ post.date | date: "%b %-d, %Y" }}
        a.archive-link(href="{{ post.url }}")
          .archive-title
            | {{ post.title }}
        .post-tags
          | {{ post | tags | remove: "," }}
      | {% endfor %}
